body{
    background-color:lightblue;
}

.container{
    display: flex;
    position: fixed;
    width: 100%;
    top: 88vh;
    justify-content: center;
}

.colour-choices{
    background-color:black;
    display: flex;
    gap : 1.5vw;
    padding: 2vh 2vw;
    border-radius: 2vw;
}

.colour-circle{
    height : 7vh;
    width: 7vh;
    border-radius: 7vh;
    border: 0;
}

.board{

    /* height: 125vh; */
    background-color:peru;
    width : calc(56vh + 14.5vw);
    margin-left: calc((98.8vw - (56vh + 14.5vw))/2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 0 1vh 1vh 1vh ;
    border: 1vh solid peru;
}

.tab{
    margin-top : 1vh;
    display: flex;
}

.input{
    display: flex;
    gap: 1vw;
    background-color:burlywood;
    padding : 1vh 1vw;
}

.output{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.result{
    display: flex;
    gap: 1vh;
    padding: 1vh 1vw;
    border-radius: 3vh;
    background-color: peru;
}

.dots{
    height : 3.5vh;
    width: 3.5vh;
    border-radius: 3.5vh;
    background-color:burlywood;
}

.hidden{
    background-color: lightblue;
    height : 10vh;
}

.jFMargin{
    background-color: lightblue;
    height: 13.5vh;
}

.side-button{
    font-size: 4vh;
    font-weight: 700;
    border: 1vh solid peru;
    background-color: burlywood;
    padding : 1vh 1vw ;
    color: peru;
    position:fixed;
    bottom : 45vh;
    border-radius: 1vh;
}

.submit{
    right : 10vw;
    visibility: hidden;
}

.delete{
    left : 10vw;
}